.robot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden; // This ensures the robot does not overflow its container
  position: relative; // Ensure proper positioning within the parent container

  canvas {
    display: block;
    width: 800px !important;
  }
}
